@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <table>
        <tr>
            <td>
                <div id="inputForm">
                    <input type="text" id="name" value="@User.Identity.Name" hidden="hidden" />
                    <table>
                        <tr>
                            <td>
                                <input style="width:600px" class="input-group-text" type="text" id="message" />
                            </td>
                            <td>
                                <input class="btn btn-success" type="button" id="sendBtn" value="Send" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" width="800px" height="300px" style="border:dashed;text-align:start;">
                <div id="chatroom" style="overflow-y:scroll;height:300px;width:800px"></div>
                <script src="js/signalr/dist/browser/signalr.min.js"></script>
                <script>
                    const hubConnection = new signalR.HubConnectionBuilder()
                        .withUrl("/chat")
                        .build();

                    hubConnection.on("GetHistory", function (data, count) {
                        for (let i = 0; i < count; i++) {
                            let elem = document.createElement("p");
                            elem.appendChild(document.createTextNode(data[i]));
                            let firstElem = document.getElementById("chatroom").firstChild;
                            document.getElementById("chatroom").insertBefore(elem, firstElem);
                        }
                    });

                    hubConnection.on("Send", function (user, data) {
                        let elem = document.createElement("p");
                        elem.appendChild(document.createTextNode(user));
                        elem.appendChild(document.createTextNode(" : "));
                        elem.appendChild(document.createTextNode(data));
                        let firstElem = document.getElementById("chatroom").firstChild;
                        document.getElementById("chatroom").insertBefore(elem, firstElem);
                    });

                    document.getElementById("sendBtn").addEventListener("click", function (e) {
                        let name = document.getElementById("name").value;
                        let message = document.getElementById("message").value;
                        hubConnection.invoke("Send", name, message);
                    });

                    hubConnection.start();
                </script>
            </td>
        </tr>
    </table>
    

    
}
